<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultrq.net.nz/tyhmeleaf/layout"
layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">

	<div class="panel-heading">List Page</div>
	<div class="panel-body">
		<p>[[${result}]]</p>
		
		<div th:with="result=${result.result}">
			<ul class="list-group">
				<li class="list-group-item" th:each="board:${result.content}">[[${board}]]</li>
			</ul>
			
		</div>
		
		<!-- Paging 영역 -->
		<nav>
			<div>
				<ul class="pagination">
					<li th:each="p:${result.pageList}"><a href="#">[[${p.pageNumber + 1}]]</a></li>
				</ul>
			</div>
		</nav>
		
	</div>
</div>


<th:block layout:fragment="script">

<script th:inline="javascript">

</script>