<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springecurity5"
	layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">
	<div class="panel-heading">게시글 수정</div>
	<div class="panel-body">

		<form id="f1" th:action="@{/}" method="post">

			<div class="form-group">
				<label>번 호</label> <input class="form-control" name="bno"
					th:value="${board.bno}" readonly="readonly">
			</div>

			<div class="form-group">
				<label>제 목</label> <input class="form-control" name="title"
					th:value="${board.title}">
			</div>

			<div class="form-group">
				<label>내 용</label>
				<textarea class="form-control" rows="3" name="content"
					th:text="${board.content}"></textarea>
			</div>

			<div class="form-group">
				<label>작 성 자</label> <input class="form-control" name="writer"
					th:value="${board.writer}" readonly="readonly">
			</div>

			<input type="hidden" name="page" th:value="${pageVO.page}"> <input
				type="hidden" name="size" th:value="${pageVO.size}"> <input
				type="hidden" name="type" th:value="${pageVO.type}"> <input
				type="hidden" name="keyword" th:value="${pageVO.keyword}">

		</form>


		<div class="form-group">
			<label>작 성 일</label> <input class="form-control" name="regDate"
				th:value="${#dates.format(board.regdate, 'yyyy-MM-dd')}"
				readonly="readonly">
		</div>

		<div class="pull-left">
			<a href="#" class="btn btn-warning modbtn">수정하기</a> <a href="#"
				class="btn btn-danger delbtn">삭제하기</a> <a
				th:href="@{list(
				page=${pageVO.page}, 
				size=${pageVO.size},
				type=${pageVO.type},
				keyword=${pageVO.keyword},
				bno=${board.bno})}"
				class="btn btn-primary">목록으로</a>
		</div>



	</div>

</div>
<!-- end Fragment -->

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {

			var formObj = $("#f1");

			// 삭제 요청 처리
			$(".delbtn").click(function(e) {
				formObj.attr("action", "delete");
				formObj.attr("method", "post");

				history.replaceState(null, null, null);
				formObj.submit();
			});

			$(".modbtn").click(function(e) {

				formObj.attr("action", "modify");
				formObj.attr("method", "post");

				history.replaceState(null, null, null);
				formObj.submit();
			});
		});
	</script>
</th:block>


</html>