<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">	
	<div class="panel-heading">게시글 작성</div>
	<div class="panel-body">
	
		<form th:action="register" method="post">
			<div class="form-group">
				<label>제 목</label><input type="text" name="title" class="form-control"/>
				<p class="help-block"> 제목을 입력하세요</p> 
			</div>
			
			<div class="form-group">
				<label>내 용</label>
				<textarea class="form-control" rows="3" name="content"></textarea>
			</div>
			
			<div class="form-group" th:with="member=${#authentication.principal.member}">
				<label>작 성 자</label>
				<input class="form-control" name="writer" th:value="${member.uid}" readonly="readonly"/>
			</div>
			<button type="submit" class="btn btn-default">등록 버튼</button>
			<button type="reset" class="btn btn-primary">지우기 버튼</button>
		</form>
	</div>
</div>


</html>